[user]
	name = Xing Yahao
	email = keidarcy.1015@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = /usr/bin/vim
    autoCRLF = input # unix - input, windows - true
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[diff]
    tool = vimdiff
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
