[submodule "work-dotfiles"]
	path = work-dotfiles
	url = git@github.com:keidarcy/work-dotfiles.git
[submodule "personal-dotfiles"]
	path = personal-dotfiles
	url = git@github.com:keidarcy/personal-dotfiles.git
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = git@github.com:keidarcy/alacritty-theme.git
